/* global styles */

/* sign up */
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
 nav{
            display: flex;
            justify-content: space-between;
             align-items: center; 
            background-color: rgb(48, 48, 136);
        }
    d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 nav div{display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin: 0 auto;
    }
nav a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: larger;
    text-align: center;
}

        
